// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

header {
  margin-top: 30px;
  text-align: center;

  h1 {
    font-family: Raleway;
    font-weight: 700;
  }

  .line-header {
    width: 90px;
    margin: 20px auto;
    border: 1px solid black;
  }

  h5 {
    font-family: Raleway;
    color: #010101;
    font-size: 18px;
    font-weight: 300;
  }

  .description {
    font-family: Roboto;
    width: 35%;
    margin: auto;
    font-size: 19px;
    color: #666666;
  }
}

.items {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px auto;
  align-content: space-between;

  :nth-child(2),
  :nth-child(5) {
    margin: 0 25px;
  }

  .circle-description {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 10px;
    height: 90px;
    width: 90px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
  }

  .button-description {
    position: absolute;
    left: 9px;
    top: 425px;
    background-color: #000;
    color: #fff;
    padding: 6px 20px;
  }

  .card {
    margin-top: 10px;
    margin-bottom: 10px;

    .card-body {
      .card-text {
        display: flex;

        .new-price {
          font-size: 18px;
          font-weight: 500;
          margin-right: 15px;
        }

        .old-price {
          color: #666666;
          text-decoration-line: line-through;
          font-size: 14px;
          margin-top: 3px;
        }
      }
    }
  }
}

.button-div {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;

  button {
    background-color: #fff;
    padding: 5px 35px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 4px;
  }
}

footer {
  width: 100%;
  // background-color: #000;
  background-image: url("../img/lemn.png");
  padding: 100px 0;

  h3 {
    font-size: 23px;
    margin-bottom: 0;
  }

  .line-footer {
    width: 90px;
    margin: 20px auto;
    border: 1px solid #fff;
  }

  .people {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 20px;

    .people-images {
      margin-right: 10px;
      color: #000;
      border-radius: 50%;
      opacity: 0.6;
    }

    :nth-child(3) {
      height: 80px;
      width: 80px;
      opacity: unset;
    }
  }

  .footer-text {
    text-align: center;
    color: #fff;
    width: 36%;
    margin: auto;

    .message {
      font-family: Roboto;
      font-size: 20px;
      font-style: italic;
    }

    h3 {
      font-family: Raleway;
    }

    .frontend {
      margin-bottom: 0;
      font-family: Raleway;
    }
  }
}
